@import url("http://fonts.googleapis.com/css?family=Rajdhani");
html,
body {
  height: 100%;
  overflow: scroll;
}

body {
  background: #fff;
  font: 15px;
  font-family: 'Rajdhani', sans-serif;
  position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.text-xs-center{
    background: #00c1fc;
}

.center{
  text-align: center;
}

.navbar-custom{
  border-radius: 0px !important;
}

.black{
  background-color: black;
}

.blue{
  background-color: #03A9F4;
}

.white-letters{
  color: white!important;
}

h1, .h1, h2, .h2, h3, .h3 ,p {
    margin: 10px 20px 10px 20px!important;
}

a {

    text-decoration: none;
}

.parallax3 { 
    /* The image used */
    background-image: url('1.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

